<?xml version="1.0"?>
<config>
    <sections>
        <customer>
            <groups>
                <vanillajsconnect>
                    <label>Vanilla JS Connect</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <client_id>
                            <label>Client ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </client_id>

                        <client_secret>
                            <label>Client Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </client_secret>
                    </fields>
                </vanillajsconnect>
            </groups>
        </customer>
    </sections>
</config>
